In [2]:
print("Hola Mundo")

Hola Mundo

In [5]:
## Variables Primitivas
entero = 3
decimal = 1.1
nombre = "Norberto"
segundo_nombre = 'Rafael'
casado = False
profesor = True
hijos = None
print(type(entero))  # int
print(type (decimal))  # float
print(type (nombre)) # str
print(type (segundo_nombre))  # str
print(type (casado))  # boolean
print(type (profesor))  # boolean
print(type (hijos))  # NoneType

texto = """asdasda
asssssssssssssddddddd
asdas
"""

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [7]:
print(entero)
entero = decimal
entero = hijos
entero = casado
entero = nombre
print(entero)

1.1
Norberto

In [8]:
# Condicion (Boolean)
# Truty
# Falsy

tuplas = ()
listas = []
diccionario = {}
print(type(tuplas))  # tuple
print(type(listas))  # list
print(type(diccionario))  # dict

if(""):  # Falsy
    print("Truty")
else:
    print("Falsy")

if("a"):  # Truty
    print("Truty")
else:
    print("Falsy")

if(0):  # Falsy
    print("Truty")
else:
    print("Falsy")

if(-1):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(1):  # Truty
    print("Truty")
else:
    print("Falsy")

if(0.00):  # Falsy
    print("Truty")
else:
    print("Falsy")

if(0.01):  # Truty
    print("Truty")
else:
    print("Falsy")

if(None):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(()):  # Falsy
    print("Truty")
else:
    print("Falsy")

if((1,2)):  # Truty
    print("Truty")
else:
    print("Falsy")

if([]):  # Falsy
    print("Truty")
else:
    print("Falsy")

if(["a","b"]):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if({}):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if({nombre: "Adrian"}):  # Truty
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [9]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
arreglo[2:5] # Filtrar ([2,5[)
arreglo[2:] 
arreglo[:7] 
arreglo[-1]
arreglo[2:-1]  # Filtrar ([2, -1])
arreglo[-8:-1]
arreglo[:-2]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
print(type(7 in arreglo))
print (7 in arreglo)

<class 'bool'>
True

In [22]:
len(arreglo) # 10

10

In [25]:
#arreglo.append(11)
#arreglo.pop()
arreglo.insert(1,1.1)
arreglo

[1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
for numero in arreglo:
    print(numero)

contador = 0
while contador < 10:
    print (contador)
    contador += 1

1
1.1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9

In [29]:
tupla_numeros = (1,2,3,4,5)
tupla_numeros

(1, 2, 3, 4, 5)

In [32]:
tupla_numeros[0:3]
len(tupla_numeros)
3 in tupla_numeros

False

In [38]:
norberto = {
    12123: "Norberto",
    "apellido": '',
    'edad': 30,
    'sueldo': 1.1,
    None: None,
    False: False,
    "mascotas": [{nombre: "cachetes"}]
}
norberto

{12123: 'Norberto',
 'apellido': '',
 'edad': 30,
 'sueldo': 1.1,
 None: None,
 False: False,
 'mascotas': [{'Norberto': 'cachetes'}]}

In [48]:
norberto["apellido"] = "Diaz" 
norberto["apellido"] 
norberto["mascotas"][0]["Norberto"]
norberto.keys()
norberto.values()
"apellido" in norberto.keys()
"apellido" in norberto.values()

1 == 1 or 2 == 3 #True
1 == 1 and 2 == 3 #False

False

norberto["apellido"] = "Diaz"
norberto["apellido"]
norberto["mascotas"][0][12123]